<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Listagem de Turmas</title>
</head>
<body>
	<h1>Form Turma</h1>
	<hr/>
	<div class="container">
		<form th:action="@{/turmas}" method="POST">
			<div class="form-group">
			<label for="descricao">Descrição da Turma</label>
			<input id="descricao" name="descricao" type="text" class="form-control" placeholder="Descrição"/>
			
			<label for="professor">Professor da Turma</label>
			<input id="professor" name="professor" type="text" class="form-control" placeholder="Professor"/>
			
			<label for="disciplina">Disciplina da Turma</label>
			<input id="disciplina" name="disciplina" type="text" class="form-control" placeholder="Disciplina"/>
			<br/>
			<button type="submit" class="btn btn-primary">Cadastrar</button>
			</div>
		</form>
	</div>
</body>
</html>